.host-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    height:100vh;
}



.host-form-container > h2{
    padding-bottom: 15px;
}

.host-page-description{
    height: 75px;
}

input:nth-child(1) {
    width: 300px;
    padding:5px;
    margin-bottom: 17px;
}

textarea{
    margin-bottom:17px;
}

.host-listing-button{
    border-radius: 4px;
    border: 1.5px solid #f64900;
    padding: 4px 8px;
    color:white;
    background-color: #f64900;
    font-weight:bold;
}

.host-form-header{
    color:#008294;
}

.host-errors{
    color:red;
    position: relative;
    right: 19px;
}
