.host-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.host-form-container > h2{
    padding-bottom: 15px;
}

.host-page-description{
    height: 75px;
}

input:nth-child(1) {
    width: 300px;
    padding:5px;
    margin-bottom: 17px;
}

textarea{
    margin-bottom:17px;
}

.host-listing-button{
    border-radius: 11px;
    border: 1.5px solid black;
    padding: 4px 8px;
    background-color: white;
}
