.bookings-container{
    display:flex;
    flex-direction: column;
}


.bookings-content{
    width: 80%;
    margin:0 auto;
    text-align: center;
    border-bottom: .5px solid rgb(182, 181, 181);
    /* border: 2px solid black; */
    padding-bottom: 15px;
}

.price-box{
    margin-bottom: 15px;
    margin-right: auto;
    margin-left:auto;
}

.date-box{
    border: 2px black solid;
    width:35%;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left:auto;
    position: relative;
    right: 19px;
}

.date-label{
    position:relative;
    right:19px;
}

.bookings > h2{
    text-align: center;
    padding-top: 90px;
}

.bookings-name-header{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
