.bookings-container{
    display:flex;
    flex-direction: column;
}


.bookings-content{
    width: 80%;
    margin:0 auto;
    text-align: center;
    border: 2px solid black;
    padding-bottom: 15px;
}

.date-box{
    border: 2px black solid;
    width:35%;
    margin:0 auto;
    position: relative;
    right: 19px;
}

.date-label{
    position:relative;
    right:19px;
}

.bookings > h2{
    text-align: center;
}
