.delete-booking-modal-container{
    display:flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
    background-color: #e3dac9;
}

.delete-booking-modal-container>h2{
    color:#008294;
}

.delete-booking-modal-buttons{
    display: flex;
}


.yes-delete-booking-modal{

    border-radius: 4px;
    border: 1.5px solid #f64900;
    /* border:none; */
    padding: 4px 8px;
    margin: 10px 8px;
    background-color: #f64900;
    color:white;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
}

.no-delete-booking-modal{
    border-radius: 4px;
    border: 1.5px solid #f64900;
    /* border:none; */
    padding: 4px 8px;
    margin: 10px 8px;
    background-color: white;
    color:black;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
}
