

.delete-booking-button-container{
    position: relative;
    right: 19px;
    padding-top:15px;
}

.delete-booking-button{
    border-radius: 11px;
    border: 1.5px solid black;
    padding: 4px 8px;
    background-color: white;
}
