footer{
    display:flex;
    flex-direction: row;
    position:fixed;
    bottom:0;
}

footer > a{
    margin: 0 auto;
    padding: 7px;
}

.github,
.linkedin{
    padding-top: 40px;
    height:40px;
    width: 40px;
}
