.sign-up-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.sign-up-container > h2{
    color:#008294;
}

.sign-up-container>ul{
    color:red;
    position: relative;
    right: 19px;
}

.sign-up-form-button{
    border-radius: 4px;
    border: 1.5px solid #f64900;
    padding: 4px 8px;
    color:white;
    background-color: #f64900;
    font-weight:bold;
}

.signup-p{
    text-decoration: none;
}
