.logout-button{
    border-radius: 4px;
    border: 1.5px solid black;
    padding: 4px 8px;
    background-color:black;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
    color:white;
}



.profile-dropdown > li {
    color:#008294;
    margin-bottom: 5px;
}
